%h1 Locations
= link_to "Add New Location", new_location_path, class: "btn btn-success"
- @locations.each do |location|
  %h3= link_to "#{location.name}", location_path(location)
  %p
    = location.city
    , #{location.state}
  %p
